Repository bakdata/kpops, pull requests merged in 2023-09, with the labels that each got.

#326 Refactor component prefix & name
  kpops/cli/main.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/pipeline_component.py
  kpops/pipeline_generator/pipeline.py
  tests/cli/test_pipeline_steps.py
  tests/components/test_kafka_app.py
  tests/components/test_kubernetes_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_pipeline.py
Labels: type/refactor, component/pipeline-components

#328 Remove unnecessary condition during inflate
  kpops/pipeline_generator/pipeline.py
Labels: type/refactor, component/generator

#357 Fix link to kpops-examples
  docs/docs/resources/examples/defaults.md
Labels: area/documentation

#356 Move GitHub action to repository root
  .github/actions/update-docs/action.yml
  README.md
  action.yaml
  actions/kpops-runner/README.md
  docs/docs/user/migration-guide/v1-v2.md
  docs/docs/user/migration-guide/v2-v3.md
  docs/docs/user/references/ci-integration/github-actions.md
  docs/mkdocs.yml
Labels: area/documentation, area/CI, breaking-change

#331 Support networkx to represent components as a graph
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/pipeline_generator/pipeline.py
  poetry.lock
  pyproject.toml
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
  tests/pipeline/resources/pipeline-with-loop/defaults.yaml
  tests/pipeline/resources/pipeline-with-loop/pipeline.yaml
  tests/pipeline/resources/pipeline-with-short-topics/defaults.yaml
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/config.yaml
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/defaults.yaml
  tests/pipeline/resources/pipelines-with-graphs/same-topic-and-component-name/pipeline.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/config.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/defaults.yaml
  tests/pipeline/resources/pipelines-with-graphs/simple-pipeline/pipeline.yaml
  tests/pipeline/test_pipeline.py
Labels: type/enhancement, component/generator, component/pipeline-components

#361 Fix Kafka connect config name for deletion
  kpops/components/base_components/kafka_connector.py
  tests/component_handlers/kafka_connect/test_connect_handler.py
  tests/components/test_kafka_connector.py
  tests/components/test_kafka_sink_connector.py
  tests/components/test_kafka_source_connector.py
Labels: type/bug
