Repository bakdata/kpops, pull requests merged in 2023-12, with the labels that each got.

#347 Migrate to Pydantic v2
  docs/docs/resources/variables/cli_env_vars.env
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/schema/pipeline.json
  docs/docs/user/core-concepts/variables/environment_variables.md
  docs/docs/user/references/cli-commands.md
  docs/mkdocs.yml
  hooks/gen_docs/gen_docs_cli_usage.py
  hooks/gen_docs/gen_docs_components.py
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/component_handlers/topic/handler.py
  kpops/component_handlers/topic/model.py
  kpops/component_handlers/topic/proxy_wrapper.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/base_components/models/from_section.py
  kpops/components/base_components/models/to_section.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/config.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/dict_ops.py
  kpops/utils/gen_schema.py
  kpops/utils/pydantic.py
  poetry.lock
  pyproject.toml
  tests/cli/snapshots/snap_test_schema_generation.py
  tests/cli/test_kpops_config.py
  tests/cli/test_schema_generation.py
  tests/component_handlers/kafka_connect/test_connect_wrapper.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/component_handlers/topic/test_proxy_wrapper.py
  tests/components/test_kafka_sink_connector.py
  tests/defaults.yaml
  tests/pipeline/resources/dotenv/.env
  tests/pipeline/resources/dotenv/config.yaml
  tests/pipeline/resources/dotenv/custom.env
  tests/pipeline/resources/temp-trim-release-name/defaults.yaml
  tests/pipeline/resources/temp-trim-release-name/pipeline.yaml
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_components/components.py
  tests/pipeline/test_pipeline.py
  tests/utils/resources/nested_base_settings.py
  tests/utils/test_dict_ops.py
  tests/utils/test_doc_gen.py
Labels: type/refactor, type/update, area/dependencies

#388 Change substitution variables separator to `.`
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/resources/variables/variable_substitution.yaml
  docs/docs/schema/config.json
  docs/docs/user/core-concepts/variables/substitution.md
  docs/docs/user/migration-guide/v2-v3.md
  examples/bakdata/atm-fraud-detection/config.yaml
  examples/bakdata/atm-fraud-detection/defaults.yaml
  kpops/config.py
  kpops/pipeline_generator/pipeline.py
  kpops/utils/dict_ops.py
  kpops/utils/yaml_loading.py
  tests/cli/test_kpops_config.py
  tests/pipeline/resources/component-type-substitution/infinite_pipeline.yaml
  tests/pipeline/resources/component-type-substitution/pipeline.yaml
  tests/pipeline/resources/custom-config/config.yaml
  tests/pipeline/resources/defaults.yaml
  tests/pipeline/resources/kafka-connect-sink-config/config.yaml
  tests/pipeline/resources/no-topics-defaults/defaults.yaml
  tests/pipeline/resources/no-topics-defaults/defaults_development.yaml
  tests/pipeline/resources/pipeline-component-should-have-prefix/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults.yaml
  tests/pipeline/resources/pipeline-with-env-defaults/defaults_development.yaml
  tests/pipeline/test_components/components.py
Labels: area/tests, component/config, breaking-change

#392 Refactor pipeline generator & representation
  hooks/gen_docs/gen_docs_components.py
  kpops/cli/main.py
  kpops/components/base_components/base_defaults_component.py
  kpops/pipeline.py
  kpops/pipeline_generator/__init__.py
  kpops/utils/pydantic.py
  kpops/utils/yaml.py
  tests/cli/test_pipeline_steps.py
  tests/compiler/test_pipeline_name.py
  tests/compiler/test_yaml_loading.py
  tests/components/test_base_defaults_component.py
  tests/conftest.py
  tests/pipeline/snapshots/snap_test_example.py
  tests/pipeline/snapshots/snap_test_pipeline.py
  tests/pipeline/test_pipeline.py
Labels: type/refactor, component/generator, breaking-change

#387 Define custom components module & pipeline base dir globally
  config.yaml
  docs/docs/resources/variables/cli_env_vars.env
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/user/migration-guide/v2-v3.md
  docs/docs/user/references/cli-commands.md
  examples/bakdata/atm-fraud-detection/config.yaml
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/cli/main.py
  kpops/component_handlers/kafka_connect/connect_wrapper.py
  kpops/component_handlers/schema_handler/schema_handler.py
  kpops/components/base_components/base_defaults_component.py
  kpops/config.py
  kpops/pipeline.py
  kpops/utils/gen_schema.py
  tests/cli/resources/config.yaml
  tests/cli/resources/custom_module/__init__.py
  tests/cli/resources/empty_module/__init__.py
  tests/cli/resources/empty_module/config.yaml
  tests/cli/resources/no_module/config.yaml
  tests/cli/test_handlers.py
  tests/cli/test_registry.py
  tests/cli/test_schema_generation.py
  tests/component_handlers/schema_handler/test_schema_handler.py
  tests/pipeline/resources/custom-config/config.yaml
  tests/pipeline/test_example.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_template.py
Labels: component/config, breaking-change
