Repository bakdata/kpops, pull requests merged in 2024-04, with the labels that each got.

#480 Set Pyright to warn on unknown types
  pyproject.toml
Labels: area/CI

#483 Quiet faker debug logs in tests
  tests/conftest.py
Labels: area/tests

#481 Add pyright matcher
  .github/pyright-matcher.json
  .github/workflows/ci.yaml
  poetry.lock
Labels: area/CI

#482 Add support for cleaning StatefulSets with PVCs
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/component_handlers/kubernetes/pvc_handler.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  poetry.lock
  pyproject.toml
  tests/components/test_streams_app.py
  tests/kubernetes/__init__.py
  tests/kubernetes/test_pvc_handler.py
  tests/pipeline/snapshots/test_example/test_generate/atm-fraud/pipeline.yaml
  tests/pipeline/snapshots/test_example/test_generate/word-count/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_default_config/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_inflate_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_kafka_connect_sink_weave_from_topics/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_load_pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_input_topic/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_no_user_defined_components/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_pipelines_with_envs/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_read_from_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_substitute_in_component/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_absolute_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_custom_config_with_relative_defaults_path/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_with_env_defaults/pipeline.yaml
Labels: type/enhancement, component/handlers, component/pipeline-components
