Repository bakdata/kpops, pull requests merged in 2024-08, with the labels that each got.

#521 Fallback to user defined model when the validation of cluster model fails
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/components/test_producer_app.py
  tests/components/test_streams_app.py
Labels: type/refactor, component/pipeline-components

#523 Fix incorrect parameter type annotation
  kpops/components/streams_bootstrap/streams/model.py
Labels: component/pipeline-components

#527 Update pytest
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/pipeline/test_clean.py
  tests/pipeline/test_deploy.py
  tests/pipeline/test_destroy.py
  tests/pipeline/test_example.py
  tests/pipeline/test_generate.py
  tests/pipeline/test_reset.py
  tests/test_kpops_config.py
Labels: type/update

#524 Fix Pyright warning about type override without default value
  docs/docs/schema/defaults.json
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/kafka_app.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/kubernetes_app.py
  kpops/components/common/streams_bootstrap.py
  kpops/components/streams_bootstrap/producer/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v3/base.py
  kpops/components/streams_bootstrap_v3/model.py
  kpops/components/streams_bootstrap_v3/producer/model.py
  kpops/components/streams_bootstrap_v3/producer/producer_app.py
  kpops/components/streams_bootstrap_v3/streams/model.py
  kpops/components/streams_bootstrap_v3/streams/streams_app.py
Labels: type/refactor, breaking-change

#517 Replace kubernetes-asyncio with lightkube
  kpops/component_handlers/kubernetes/pvc_handler.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  poetry.lock
  pyproject.toml
  tests/components/test_streams_app.py
  tests/conftest.py
  tests/kubernetes/test_pvc_handler.py
Labels: type/refactor, component/handlers

#532 Fix changelog in docs
  docs/docs/user/changelog.md
Labels: area/documentation
