Repository bakdata/kpops, pull requests merged in 2024-12, with the labels that each got.

#543 Fix: Use enum values when dumping models
  docs/docs/user/core-concepts/components/kafka-source-connector.md
  kpops/components/common/kubernetes_model.py
  kpops/utils/pydantic.py
  tests/pipeline/resources/streams-bootstrap/defaults.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
Labels: type/bug

#541 Introduce KPOps operation and manifest resources for deployment
  docs/docs/resources/variables/cli_env_vars.env
  docs/docs/resources/variables/cli_env_vars.md
  docs/docs/resources/variables/config_env_vars.env
  docs/docs/resources/variables/config_env_vars.md
  docs/docs/schema/config.json
  docs/docs/user/references/cli-commands.md
  kpops/api/__init__.py
  kpops/api/operation.py
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/models/resource.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/config/__init__.py
  kpops/manifests/__init__.py
  kpops/manifests/argo.py
  kpops/utils/cli_commands.py
  tests/cli/snapshots/test_init/test_init_project_exclude_optional/config.yaml
  tests/cli/snapshots/test_init/test_init_project_exclude_optional/defaults.yaml
  tests/cli/snapshots/test_init/test_init_project_exclude_optional/pipeline.yaml
  tests/cli/snapshots/test_init/test_init_project_include_optional/config.yaml
  tests/cli/snapshots/test_init/test_init_project_include_optional/defaults.yaml
  tests/cli/snapshots/test_init/test_init_project_include_optional/pipeline.yaml
  tests/cli/test_init.py
  tests/conftest.py
  tests/manifest/__init__.py
  tests/manifest/test_argo_enricher.py
  tests/pipeline/resources/manifest-pipeline/defaults.yaml
  tests/pipeline/resources/manifest-pipeline/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_deploy_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_deploy_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_python_api/resources
  tests/pipeline/test_manifest.py
Labels: type/enhancement, component/cli, breaking-change

#546 Define Pydantic model to representing Kubernetes manifest
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/component_handlers/helm_wrapper/helm.py
  kpops/component_handlers/helm_wrapper/helm_diff.py
  kpops/component_handlers/helm_wrapper/model.py
  kpops/component_handlers/helm_wrapper/utils.py
  kpops/component_handlers/kubernetes/model.py
  kpops/components/base_components/helm_app.py
  kpops/components/base_components/models/resource.py
  kpops/components/base_components/pipeline_component.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/manifests/kubernetes.py
  tests/component_handlers/helm_wrapper/test_dry_run_handler.py
  tests/component_handlers/helm_wrapper/test_helm_diff.py
  tests/component_handlers/helm_wrapper/test_helm_wrapper.py
  tests/component_handlers/kubernetes/model.py
  tests/components/test_helm_app.py
  tests/manifests/__init__.py
  tests/manifests/test_argo_enricher.py
  tests/manifests/test_kubernetes_model.py
  tests/pipeline/snapshots/test_manifest/test_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_python_api/resources
  tests/pipeline/test_manifest.py
Labels: type/enhancement

#551 Fix `kpops --version`
  kpops/const/__init__.py
Labels: type/bug

#552 Manifest Kubernetes resources for `destroy` command
  docs/docs/user/references/cli-commands.md
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/components/streams_bootstrap/base.py
  tests/pipeline/snapshots/test_manifest/test_manifest_deploy_python_api/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_destroy_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_destroy_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_destroy_python_api/manifest.yaml
  tests/pipeline/test_manifest.py
Labels: type/enhancement, component/cli

#561 Drop support for Python 3.10
  .github/actions/update-docs/action.yml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  hooks/gen_docs/__init__.py
  hooks/gen_docs/gen_docs_env_vars.py
  kpops/api/options.py
  kpops/component_handlers/kafka_connect/kafka_connect_handler.py
  kpops/component_handlers/kafka_connect/model.py
  kpops/component_handlers/topic/model.py
  kpops/components/base_components/base_defaults_component.py
  kpops/components/base_components/kafka_connector.py
  kpops/components/base_components/models/from_section.py
  kpops/components/common/topic.py
  kpops/components/streams_bootstrap/base.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/components/streams_bootstrap_v2/streams/model.py
  kpops/const/file_type.py
  kpops/manifests/kubernetes.py
  kpops/manifests/strimzi/kafka_topic.py
  kpops/utils/dict_differ.py
  poetry.lock
  pyproject.toml
Labels: area/CI, area/dependencies, breaking-change

#563 Manifest Kubernetes resources for `reset` command
  docs/docs/user/references/cli-commands.md
  kpops/api/__init__.py
  kpops/cli/main.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_argo_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_manifest_mode/manifest.yaml
  tests/pipeline/snapshots/test_manifest/test_manifest_reset_python_api/manifest.yaml
  tests/pipeline/test_manifest.py
Labels: type/enhancement, component/cli

#568 Fix Kubernetes memory not accepting decimal values
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
Labels: type/bug, component/pipeline-components

#570 Fix allow optional resources requests and limits
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
Labels: type/bug, component/pipeline-components

#564 Create generic `SerializeAsOptional` type for Pydantic
  docs/docs/schema/defaults.json
  docs/docs/schema/pipeline.json
  kpops/components/common/kubernetes_model.py
  kpops/components/streams_bootstrap/model.py
  kpops/components/streams_bootstrap/producer/producer_app.py
  kpops/components/streams_bootstrap/streams/model.py
  kpops/components/streams_bootstrap/streams/streams_app.py
  kpops/components/streams_bootstrap_v2/base.py
  kpops/utils/pydantic.py
  tests/components/streams_bootstrap/test_streams_bootstrap.py
  tests/pipeline/resources/streams-bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_generate/test_streams_bootstrap/pipeline.yaml
  tests/pipeline/snapshots/test_manifest/test_streams_bootstrap/manifest.yaml
  tests/utils/test_pydantic.py
Labels: type/refactor, component/pipeline-components

#562 Add migration guide v8-v9
  docs/docs/user/migration-guide/v8-v9.md
  docs/mkdocs.yml
Labels: area/documentation

#573 Add operation-mode documentation to mkdocs index
  docs/mkdocs.yml
Labels: type/bug
